@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-success" style="margin:50px auto 100px auto">
    <h1 class="display-4">Kadabra Training Club</h1>
    <p class="text-muted">Health, Fitness & Performance - Aprendé a moverte, divertite y creá nuevos hábitos</p>
</div>


<div class="">
    <div class="rounded modal-body" style="background-color:rgb(71, 219, 144, 0.35);border-left:5px solid black">

        <p class="text-muted">
            Contamos con entrenamientos guiados e inteligentes adaptados a tus capacidades, necesidades y objetivos.
        </p>
        <p class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <a href="https://g.page/kadabratraining?share">Los Piquillines 306, Barrio Tres Cerritos, Salta</a>
        </p>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z" />
            </svg>

            <a href="https://wa.me/5493875179183?text=Hola!%20Quiero%20saber%20como%20son%20los%20planes?">+5493875179183</a>
        </p>
    </div>
</div>

<form>
    <div class="position-absolute top-50 start-50 translate-middle" style="margin:100px auto">

        <span class="" style="margin:200px 50px 50px ">
            <button class="btn btn-outline-success btn-lg" asp-area="" asp-controller="Usuario" asp-action="IndexLogin"><p class="h3">Ingresar</p></button>
        </span>

        <span class="" style="margin:auto 50px 50px ">
            <button class="btn btn-success btn-lg" asp-area="" asp-controller="Usuario" asp-action="IndexRegistro"><p class="h3">Registrarse</p></button>
        </span>


    </div>
</form>