html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('layered-peaks-haikei.svg');
    background-position:center;
    background-repeat:no-repeat;
    /*background-size:contain;*/
}

text {
    background-color: rgb(71, 219, 144, 0.1)
}
