@using KadabraMVC.Models
@model List<Plane> //Alumnos

<h1>Usuarios</h1>
<table class="table">
    <thead>
        <tr class="">
            <th>Plan</th>
            <th>Precio Mensual</th>
            <th>Acciones</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var Plan in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>Plan.NombrePlan)</td>
                <td>$@Html.DisplayFor(m=>Plan.PrecioMensual)</td>

                <td>
                    <input class="btn btn-outline-info" type="button" value="Editar" />
                    <input class="btn btn-outline-danger" type="button" value="Eliminar" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="table">
    <form asp-action="InicioAdministrativo" asp-controller="Usuario">
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-info">Volver</button>
        </div>
    </form>
</div>
