
<h1>Inicio Administrativo</h1>
<div class="d-flex 4 justify-content-center">
    <form asp-action="AdminProfesoresIndex">
        <button class="btn btn-outline-info">
            Profesores
        </button>
    </form>
    <form asp-action="AdminClasesIndex" >
        <button class="btn btn-outline-info">
            Clases
        </button>
    </form>
    <form asp-action="AdminAlumnosIndex" >
        <button class="btn btn-outline-info">
            Alumnos
        </button>
    </form>
    <form asp-action="AdminArancelesIndex" >
        <button class="btn btn-outline-info">
            Aranceles
        </button>
    </form>


</div>