@model List<Clase>
@*esto va a tener que ser un viewmodel*@


<h1>Bienvenido profesor</h1>
<div class="d-flex justify-content-end">
    <button class="btn btn-outline-danger">Salir </button>
</div>
<div @*class="d-flex 4 justify-content-center"*@ style="margin:auto; max-width:100px; display:flex; flex-direction:initial   ; justify-content:space-around; align-items:center;" style="margin: 25px auto ">
    @*<form asp-action="InicioProfesor">
        <button class="btn btn-outline-info" style="">
            Clases de hoy 
        </button>
    </form>*@
    <form asp-action="UsuarioPerfil" asp-controller="Usuario" style="margin:auto 25px auto auto">
        <button class="btn btn-outline-info text-black" >
            Perfil
        </button>
    </form>

    <form asp-action="ProfesorHistorial" asp-controller="Usuario" >
        <button class="btn btn-outline-info text-black">
            Historial
        </button>
    </form>
</div>


<div class="container">
    <table class="table table-hover" style="max-width:1000px; margin:40px auto; ">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Turno</th>
                <th>Inscriptos</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var clase in Model)
            {
                <tr>
                    @{
                        string Fecha = clase.HorarioClase.Day.ToString() + "/" + clase.HorarioClase.Month.ToString();
                        string Hora = clase.HorarioClase.Hour.ToString() + ":00";
                    }
                    <td>@Fecha</td>
                    <td>@Hora</td>

                    <td>Recuento de inscriptos / @Html.DisplayFor(m=>clase.Capacidad)</td>

                    <td>
                        <input class="btn btn-outline-info" type="button" value="Asistencias" />

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@*<div>
    <button class="btn btn-outline-danger">Salir </button>
</div>*@